<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Self_checkout.WpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Self_checkout.WpfApp.Properties.Settings>
      <setting name="DB_Fruits_category_id" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DB_Vegetables_category_id" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DB_Bread_category_id" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DB_Other_category_id" serializeAs="String">
        <value>4</value>
      </setting>
    </Self_checkout.WpfApp.Properties.Settings>
  </applicationSettings>
<connectionStrings><add name="StoreEntities" connectionString="metadata=res://*/DAL.StoreDbModel.csdl|res://*/DAL.StoreDbModel.ssdl|res://*/DAL.StoreDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Store;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>